<div
  class='container-fluid'
>

  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Edit this product</h5>
      </div>
      <div class='modal-body'>

        {{! render item details to this modal}}

        <form class='row g-3 align-items-end form-create-product'>
          <div class='col-auto'>
            <input
              type='text'
              class='form-control'
              id='product-name'
              placeholder={{product.product_name}}
            />
          </div>
          <div class='col-auto'>
            <input
              type='text'
              class='form-control'
              id='price'
              placeholder={{product.price}}
            />
          </div>
          <div class='col-auto'>
            <input
              type='number'
              class='form-control'
              id='stock'
              placeholder={{product.stock}}
            />
          </div>
          <div class='col-auto'>
            <select
              type='number'
              class='form-control'
              id='category_id'
              placeholder={{category_name}}
            >
              {{#each category as |category|}}
                <option value='{{id}}'>{{category_name}}</option>
              {{/each}}
            </select>

          </div>

          <div class='col-auto'>
            <select
              multiple
              type='number'
              class='form-control'
              id='tag_id'
              placeholder='{{tag_name}}'
            >
            {{#each tag as |tag|}}
              <option value='{{id}}'>{{tag_name}}</option>

            </select>

          </div>

          <div class='col-auto'>
            <button
              type='submit'
              value='{{id}}'
              class='btn btn-primary shadow-sm'
              onclick='editProduct({{id}})'
            >Edit</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>