{{!-- Add product modal functionality, redner existing warehouses and tag options to user--}}
<a class='text-decoration-none' style="color:black" data-bs-toggle='modal' data-bs-target='#add-product-modal' onclick="showWarehouses(event)"> 
    <h4 class='mt-4 bi bi-plus-circle text-center fs-5' style='cursor:pointer'> Add Product
    </h4>
</a>
{{!-- Conditional logic to display current products, if they exist --}}
{{#if products}}
 <div class='bg-primary text-white my-4 text-center'>
    <h3
      class='card-header justify-content-start fs-5'
      style='background-color:#0dcaf0'
    >Here are your current products</h3>
  </div>

  <div class='row row-cols-1 row-cols-md-4 g-4 justify-content-center'>
    {{!-- map each product --}}
    {{#each products as |product|}}

      <div class='col card gy-4 m-4 text-center'>
        <div class='card-body'>
          <h4 class='card-title'> {{product_name}} </h4>

          <ul class='list-group list-group-flush'>

            <li class='list-group-item'><b>Warehouse:
                {{warehouse.warehouse_name}}</b></li>
            <li class='list-group-item'>Price: ${{price}}</li>
            <li class='list-group-item'>In stock: {{stock}}</li>
            {{#if product.tags}}
              <h5 class="mt-2 fs-6"><i>Descriptions/Tags:</i></h5>
              {{#each product.tags as |tag|}}
                <li class='list-group-item border-0'>{{tag.tag_name}}</li>
              {{/each}}

            {{/if}}
          </ul>
          {{!-- edit product --}}
             <div class='card-footer d-block'>
            <a href = '/api/products/{{product.id}}' class="m-2 bi bi-pencil-fill fs-5 bg-transparent" style="color:#0dcaf0;cursor:pointer; border:none"></a>
{{!-- delete product --}}
            <a class="m-2 bi bi-x-square-fill fs-5 "  style="color:red;cursor:pointer" id="delete-product" onclick="deleteProduct(event,{{product.id}})">
          </a>
            </div>
        </div>
      </div>
      <br />
    {{/each}}

  </div>
{{else}}
{{!-- if no products, display generic message for user --}}
  <div class='bg-primary text-white my-4 text-center'>
    <h3
      class='card-header justify-content-start'
      style='background-color:#0dcaf0'
    >Your products will show up here, on your dashboard. Looks like you need to add some!</h3>
  </div>

{{/if}}

{{!-- add product modal broken out in modular code example.  --}}
{{> modals/addProduct }}


{{! link to client side js for viewing, adding, editing, or deleting products. }}
<script src='/js/home.js'></script>
<script src='/js/product.js'></script>