<div class='container-fluid'>

  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Edit <i>{{product.product_name}}</i></h5>
      </div>
      <div class='modal-body'>

        {{! render item details to this modal}}

        <form class='row g-3 align-items-end form-create-product'>
          <div class='col-auto'>
              <label for 'name'>Name</label>
            <input
              type='text'
              class='form-control'
              id='product-name'
              placeholder={{product.product_name}}
            />
          </div>
          <div class='col-auto'>
              <label for 'price'>Price</label>
            <input
              type='text'
              class='form-control'
              id='price'
              display='price'
              placeholder={{product.price}}
            />
          </div>
          <div class='col-auto'>
                 <label for 'in-stock'>In-stock</label>
            <input
              type='number'
              class='form-control'
              id='stock'
              placeholder={{product.stock}}
            />
          </div>
          <div class='row-auto'>
               <label for 'warehouses'>Warehouses</label>
            <select
              type='number'
              class='form-control'
              id='warehouse-id'
              placeholder={{warehouse_name}}
            >
              {{#each warehouse as |warehouse|}}
                <option value='{{id}}'>{{warehouse_name}}</option>
              {{/each}}
            </select>

          </div>

          <div class='row-auto'>
            <label for 'tags'>Tags <span style="font-style:italic;font-size:smaller">(ctrl or cmd+click to select multiple)</span></label>
            <select
              multiple
              type='number'
              class='form-control'
              id='tag-id'
              placeholder='{{tag_name}}'
            >
              {{#each tag as |tag|}}
                <option value='{{id}}'>{{tag_name}}</option>
              {{/each}}
            </select>

          </div>

          <div class='row-auto'>
            <button
              type='submit'
              value='{{product.id}}'
              style='background-color:#0dcaf0'
              class='btn btn-primary shadow-sm'
              onclick='editProduct(event,{{product.id}})'
            >Save changes</button>

              <button
              type='submit'
              value='{{id}}'
              class='btn btn-danger shadow-sm'
              onclick='deleteProduct(event,{{product.id}})'
            >Delete Item</button>
             
            
             <button
              class='btn btn-secondary shadow-sm'
            > <a class='text-decoration-none' style="color:white" href="/">Cancel Changes</a></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/product.js"></script>