<section class='mt-4 container-fluid justify-content-center text-center'>
  <h5 class='title'>Add a tag/product description</h5>
  <form class='row g-3 justify-content-center form-create-tag'>
    <div class='col-auto'>
      <input
        type='text'
        class='form-control'
        id='new-tag-name'
        placeholder='New tag name'
      />
    </div>

    <div class='col-auto'>
      <button
        type='submit'
        class='btn btn-primary shadow-sm'
        onclick='addTag(event)'
      >Create
      </button>
    </div>
  </form>
</section>

{{#if tags}}
  <div class='bg-primary text-white my-4 text-center'>
    <h3
      class='card-header justify-content-start fs-6'
      style='background-color:#0dcaf0'
    >Here are your current tags</h3>
  </div>

  <div class='row row-cols-1 row-cols-md-4 g-4 justify-content-center'>
    {{#each tags as |tag|}}

      <div class='col card gy-4 m-4 text-center'>
        <div class='card-body'>
          <h3 class='card-title'> {{tag.tag_name}} </h3>
          {{#if tag.products}}
            <h5>Products:</h5>
            {{#each tag.products as |product|}}
              {{! when I click a product I am taken to the individal product page based on the id }}
              <a href='/api/products/{{product.id}}'>
                <li
                  class='list-group-item border-0'
                >{{product.product_name}}</li>
              </a>
            {{/each}}
          {{/if}}
  <div class="card-footer">x
          <a
            class='m-2 fs-5 bi bi-pencil-fill bg-transparent'
            style='color:#0dcaf0;cursor:pointer; border:none'
            data-toggle='collapse'
            data-target='#edit-tag-{{tag.tag_name}}'
            aria-expanded='false'
            aria-controls='name-change'
          ></a>
          <div class='col-auto m-2 collapse' id='edit-tag-{{tag.tag_name}}'>
            <input type='text' class='form-control' id='tag-name' placeholder="tag name" />
            <button
              class='btn btn-secondary m-2'
              onclick='editTag(event,{{tag.id}})'
              class='card-link'
            >Save changes
            </button>

          </div>
          <a
            class='m-2 fs-5 bi bi-x-square-fill'
            style='color:red;cursor:pointer'
            id='delete-tag'
            onclick='deleteTag({{tag.id}})'
          ></a>
  </div>
   </div>
        <br />
      </div>
    {{/each}}
  </div>
   

{{else}}
  <div class='bg-primary text-white my-4 text-center'>
    <h3
      class='card-header justify-content-start'
      style='background-color:#0dcaf0'
    >Your tags should show here. Looks like you need to add some!</h3>
  </div>

{{/if}}

<script src='/js/tags.js'></script>